#main1 h1{
    width: 300px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 750;
}
#main1 p{
    width: 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 25px;
    color: rgb(93, 93, 93);
}
#main1 h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#cont{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 40%;
    gap: 20px;  
}
.cards{
    padding-left: 20px;
    padding-bottom: 0px;
    padding-top: 10px;
    padding-right: 20px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
#main1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 1000px;
    margin-left: 200px;
}
#front>img{
    padding-right: 100px;
}
#front>h1{
 margin-left: 100px;
}
#front>p{
    margin-left: 100px;
   }
.cards{
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
      }
      .cards:hover, .cards:focus, .cards:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
     box-shadow: rgba(201, 121, 241, 0.414) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
    #main0 img{
        width: 100px;
        margin-left: 40px;
        margin-right: 40px;
        margin: auto;
    }
    #marq{
        display:flex;
        gap: 50px;
        
    }
    marquee{
       margin-left: 500px; 
       margin-bottom: 100px;
        height: 50px;
        width: 40%;
    }
    @keyframes marquee {
  0% { left: 100%; }
  50% { left: -100%; }
  100% {left: -100%}
}
#navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    width: 70%;
    display: flex;
    text-align: center;
    margin-left: 250px;
    margin-top: 5px;

  }
  
  #navbar a {
   /* float: left;
    display: block; */
    color: #211111;
    text-align: center;
    padding: 14px 16px;
    padding-left: 30px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #navbar a:hover {
    background-color: rgb(214, 152, 244);
    color: black;
    border-radius: 50px;
  }
  
  #navbar a.active {
    color: rgb(0, 0, 0);
  }
 
  .sticky {
    position: fixed;
    top: 0;
    width: 100px;
  }
  
  .sticky {
    padding-top: 0px;
    border-radius: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  #mid1{
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  #mid1 p{
 text-align: center;
 width: 500px;
 margin-left: -90px;
}
#text{
    display: flex;
    width: 60%;
    margin: auto;
    gap: 200px;
    margin-top: 70px;
}
#box>h2,p{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box>ul{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
li{
    color: rgb(170, 0, 255);
    padding-bottom: 10px;
}
li span{
    color: rgba(85, 85, 85, 0.786);
}
#text1{
    display: flex;
    width: 60%;
    margin: auto;
    gap: 200px;
    margin-top: 70px;
}
#text2{
    display: flex;
    width: 60%;
    margin: auto;
    gap: 200px;
    margin-top: 70px;
}
#text3{
    display: flex;
    width: 60%;
    margin: auto;
    gap: 200px;
    margin-top: 70px;
}
#text4{
    display: flex;
    width: 60%;
    margin: auto;
    gap: 200px;
    margin-top: 70px;
}
#text5{
    display: flex;
    width: 60%;
    margin: auto;
    gap: 200px;
    margin-top: 70px;
}
#text5 img{
    width: 400px;
}
#main2{
    width: 60%;
    margin-left: 250px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.dummy_page {
    height: 200px;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    box-sizing: border-box;
    padding: 60px 0px;
  }
  .footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: rgb(192, 92, 243);
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffa46b;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }

.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 20px;
  }
  .topnav a.active {
    background-color: #bf00ff;
    color: white;
    border-radius: 20px;
  }

